alembic
blinker
click
flask
Flask-Migrate
flask-sqlalchemy
greenlet
gunicorn
importlib-metadata
importlib-resources
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
SQLAlchemy
typing-extensions
werkzeug
zipp
